name: Build, UI & API Tests, Report

on: [ push, workflow_dispatch ]

jobs:
  run-tests:
    name: Build and run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK and Maven
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: maven
          maven-version: '3.9.9'
      - name: Print environment info
        run: |
            echo "== Java & Maven info =="
            java -version
            javac -version
            mvn -version
            echo "== Lombok in local Maven repo =="
            find ~/.m2/repository/org/projectlombok/lombok -name "*.jar" | sort | tail -n 1

      - name: Compile project (download dependencies and Lombok)
        run: mvn clean compile -DskipTests

      - name: Cache Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-


      - name: Set up services
        run: cd infra/docker_compose && bash restart_docker.sh && cd ../..


      - name: Run superuser tests
        run: mvn  test -P run-superuser-test


      - name: Run API tests
        run: mvn  test -P api
        continue-on-error: true


      - name: Run UI tests
        run: mvn  test -P ui
        continue-on-error: true


      - name: Generate Allure Report
        if: always()
        run: mvn allure:report || true


      - name: Upload Allure Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: target/site/allure-maven-plugin
