name: Build, UI & API Tests, Report

on: [ push, workflow_dispatch ]

jobs:
  run-tests:
    name: Build and run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK and Maven
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: maven

      - name: Make Maven Wrapper executable
        run: chmod +x ./mvnw

      - name: Compile project (download dependencies and Lombok)
        run: ./mvnw clean compile -DskipTests -Pcompile-lombok
        continue-on-error: true

      - name: Cache Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-


      - name: Set up services
        run: cd infra/docker_compose && bash restart_docker.sh && cd ../..

      - name: Check services on localhost
        run: |
          curl -v http://localhost:4444/status || echo "Selenoid not reachable"
          curl -v http://localhost:8111 || echo "TeamCity not reachable"


      - name: Run superuser tests
        run: ./mvnw test -P run-superuser-test


      - name: Run API tests
        run: ./mvnw test -P api
        continue-on-error: true


      - name: Run UI tests
        run: ./mvnw test -P ui
        continue-on-error: true


      - name: Generate Allure Report
        if: always()
        run: ./mvnw allure:report || true


      - name: Upload Allure Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: target/site
